In [1]:
import pandas as pd
import numpy as np
import re

In [4]:
df = pd.read_csv("rawdat.csv")
print(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB
None

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
5,01-Dec-20,Marketplace,AMAZON,NONI JUICE 1 L,Juices,874,"4,02,631"
6,01-Dec-20,Marketplace,AMAZON,SLIM SHAKE - CHOCOLATE 500 GM,Functional nutrition,658,"7,58,234"
7,01-Dec-20,Marketplace,AMAZON,SLIM SHAKE - MANGO 500 GM,Functional nutrition,649,"7,15,121"
8,01-Dec-20,Marketplace,AMAZON,TRIPHALA JUICE 1 L,Juices,910,"2,21,417"
9,01-Dec-20,Marketplace,AMAZON,TULSI GILOY JUICE 1 L,Juices,"3,410","11,06,203"

1. Monthwise number of quantities sold

In [10]:
df['Month']=pd.to_datetime(df['Month'])
df['Qty'] = df['Qty'].str.replace(r'\W',"")
df['Sales'] = df['Sales'].str.replace(r'\W',"")

In [14]:
df['Qty']=df['Qty'].astype(float)
df['Sales']=df["Sales"].astype(float)

In [15]:
df.dtypes

Month           datetime64[ns]
Channel                 object
Sub-Channels            object
Product Name            object
Category                object
Qty                    float64
Sales                  float64
dtype: object

In [17]:
df["only_month"]=df['Month'].dt.month
df_month_qty=pd.DataFrame(df.groupby('only_month').sum()['Qty']).reset_index()
df_month_qty

   only_month      Qty
0           1  67732.0
1           2  76393.0
2           3  80229.0
3          12  85427.0

2. Category wise Qty sold

In [20]:
df_cat_qty = pd.DataFrame(df.groupby(['Category']).sum()['Qty']).reset_index()
df_cat_qty

               Category       Qty
0  Functional nutrition   42354.0
1     Gourmet Nutrition   89279.0
2                Juices  178148.0

3. Sub-channel wise total sales

In [21]:
df_month_sales = pd.DataFrame(df.groupby(['Sub-Channels']).sum()['Sales']).reset_index
df_month_sales

<bound method DataFrame.reset_index of                         Sales
Sub-Channels
AMAZON             35606804.0
Big Basket          1207522.0
D2C                28047538.0
Flipkart            3770415.0
GOQII                582600.0
Offline - Central    375332.0
Offline - East       811146.0
Offline - MT        6257948.0
Offline - South     3446395.0
Offline - West      6441427.0
Offline -North      1206564.0>

4. Highest sale in which month

In [22]:
df_month_sales = pd.DataFrame(df.groupby('only_month').sum()['Sales']).reset_index()
df_month_sales.sort_values(by=['Sales'],inplace=True,ascending=False)
df_highest_sales_month = pd.DataFrame(df_month_sales.iloc[0,:]).T
df_highest_sales_month #3 is march

   only_month       Sales
2         3.0  25127827.0

5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [25]:
df_unique_products = pd.DataFrame(df['Product_Name_clean'].value_counts()).reset_index
df_unique_products

KeyError: 'Product_Name_clean'